* {
    margin: 0;
    padding: 0;
    background-color: #F0F0F0;
}

header {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.user-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-input {
    display: flex;
}

.img-container {
    display: flex;
    justify-content: center;
    max-width: 700px;
    height: 400px;
    margin: 0 auto; /* Center the container horizontally */
}

.img-container img {
    width: 50%;
    height: 50%;
    transition: transform 0.3s ease;
    cursor: pointer;
}

/* 
img:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  } */

  img:hover {
    animation: rotate 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }

  img:active {
    scale: 90%;
  }

  @keyframes rotate {
    0%, 30% {
      transform: rotate(0);
    }

    10% {
      transform: rotate(10deg);
    }

    20% {
        transform: rotate(-10deg);
    }
  }